#leftcontent>.inner,
#rightcontent>.inner {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3.5px;
    min-height: 73vh;
}

#leftcontent .inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip_error {
    font-size: 13px;
    position: absolute;
}

/* CSS input search in left */

.input-group-append-btn button {
    background-color: #fff !important;
    border-color: #ced4da !important;
    color: #ced4da !important;
}

/* End CSS input search in left */

/* CSS buttons paging in left */

#datatable_flextime_paginate {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#datatable_flextime_paginate a {
    text-decoration: none;
    margin: 0 2px;
    line-height: 20px;
}

.dataTables_paginate .paginate_button.active {
    background-color: #707070 !important;
}

/* End CSS buttons paging in left */

/* CSS list data refer in left */

#list-search {
    width: inherit;
    background-color: #ccc !important;
}

#list-search .list-search-head {
    height: 31px;
    background-color: #707070;
    color: #fff;
}

.list-search-content {
    border: 1px solid #ccc;
}

.list-search-content .list-item {
    height: 45px;
    color: #000;
    border-left: 3px solid #fff;
    background-color: #fff;
    justify-content: space-between;
}

.list-search-content .list-item:hover {
    border-color: rgba(0, 0, 0, 0.215);
    background-color: #EAEFF5;
    cursor: pointer;
}

.list-item-active {
    border-color: rgba(0, 0, 0, 0.215) !important;
    background-color: #EAEFF5 !important;
}

/* CSS list data refer in left */
