#table-wap thead th:nth-child(1){
    width: 15%;
}
th:nth-child(3){
    width: 20px;
}
th:nth-child(){
    width: 50px;
}
.table th{
    background-color: #EAEBEE;
}
.table td, .table th {
    vertical-align: middle;
    padding: 0.25rem;
}
.table th:last-child,.table td:last-child {
    border: none;
    background: transparent;
}
.table tbody tr:hover {
    background-color: rgba(0,0,0,.075) !important;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: unset;
}
.table-striped tbody tr:nth-of-type(odd) td:not(:last-child) {
    background-color: rgba(0,0,0,.05);
}
.btn_remove:hover{
    background: #f2dede !important;
}
.btn_remove{
    background: transparent !important;
    color: #F72809 !important;
}
.btn-rm.blue:hover{
    background: #d9edf7 !important;
}
.btn-rm.blue{
    color: #3598DB !important;
    background: transparent !important;
}
.text-center{
    text-align: center;
}
.row-hover:hover{
    cursor: move;
}